@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:wght@200..900&display=swap");

                      /*Header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}
.custom-header {
  background-image: url('./assets/img/header2.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 20px;
}
.logo {
  background-image: url('./assets/img/logo-universdad.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  width: 700px; 
}


.textoH {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 30px; 
  margin-right: 30px; 
}

.outline-light {
  border: none;
  cursor: pointer;
}
.ml-2{
  width: 120px; 
  height: 50px;

}


                        /*LOGIN*/

.col-md-6{
  background-image: url(./assets/img/header2.png);
}

.d-md-block{
background-image: url(./assets/img/bibliorteca.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 10px 20px;
}

.h1{
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 30px; 
}

.cambiar-but{
  background-color: #004AAD;
  color: white; 
  border: none; 
  border-radius: 8px; 
  padding: 15px 32px; 
  font-size: 20px; 
  width: 170px; 
  height: 55px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 500;
}

                 /* Menu */


.rowMenu{
  padding: 8%;
  width: 100%;

}

.nombreMenu{
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color:#004AAD;
}
.order-first{

  background-image: url(./assets/img/header2.png);
  margin: 1%;
  border-radius: 5%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  height: 50vh;
}
@media only screen and (max-width: 1430px) {
  .order-first {
    height: 60vh;
  }
}

.firstB{
  background-image: url(./assets/img/LibroPres.png);
  width: 90%; 
  height: 50%;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto; 
  display: block; 
}
@media only screen and (min-width: 1880px) {
  .firstB {
    height: 50%;
    
  }
}

@media only screen and (max-width: 1430px) {
  .firstB {
    height: 50%;
    width: 100%;
  }
}

.order-medio{

  background-image: url(./assets/img/header2.png);
  margin: 1%;
  border-radius: 5%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  height: 50vh;
}
@media only screen and (max-width: 1430px) {
  .order-medio {
    height: 60vh;
  }
}


.medioB{
  background-image: url(./assets/img/Registrooo.png);
  width: 80%; 
  height: 60%;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto; 
  display: block; 
}
@media only screen and (min-width: 1880px) {
  .medioB{
    height: 50%;
}
}

@media only screen and (max-width: 1430px) {
  .medioB {
    height: 60%;
    width: 100%;
  }
}


.last{

  background-image: url(./assets/img/header2.png);
  margin: 1%;
  border-radius: 5%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  height: 50vh;
}
@media only screen and (max-width: 1430px) {
  .last {
    height: 60vh;
  }
}


.lastB{
  background-image: url(./assets/img/LibrosDis.png);
  width: 96%; 
  height: 72%;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto; 
  display: block; 
}

@media only screen and (min-width: 1880px) {
  .lastB{
    height: 72%;
}
}

@media only screen and (max-width: 1430px) {
  .lastB {
    height: 65%;
    width: 100%;
  }
}

 /* Libros Prestados  */

.containerLP{
  background-image: url(./assets/img/header2.png);
  padding: 1%;
  margin: 4%;
}

.textvolver{
display: flex;
margin: 2%;
justify-content: space-between;
align-items: center;

}

.tituloLP{
  color: #004AAD;
}

.devolverM{
background-image: url(./assets/img/devolverb.png);
width: 5%;

object-fit: cover;
object-position: bottom;
background-repeat: no-repeat;
border: none;
border-radius: 5px;
}
@media only screen and (min-width: 1880px) {
  .devolverM {
    height: 6vh;
  }
}

@media only screen and (max-width: 1500px) {
  .devolverM {
    height: 9vh;
  }
}
.buscar-estu {
  border: none;
  padding: 10px;
  font-size: 16px;
  background-color: #004AAD;
  color: #ffffff;
  width: 80%;
  outline: none;
  border-radius: 10%;
}
.buscar-estu::placeholder{
color: #ffffff;
}

.buscarE{
  align-items: center;
}

.buscar-boton{
  background-image: url(./assets/img/lupa1.png);
  background-repeat: no-repeat;
  color: white;
  border: none;
  padding: 16px 10px;
  cursor: pointer;
  align-items: center;
  width: 15%;
  height: 4.6vh;
}

.Btn_librops{
  border: none;
  width: 8%;
  font-size: 120%;
  background-color: #004AAD;
  color: #ffffff;
  height: 4.6vh;
  outline: none;
  border-radius: 10%;
}
@media only screen and (min-width: 1880px) {
  .Btn_librops{
    height: 4.6vh;
}
}

@media only screen and (max-width: 1430px) {
  .Btn_librops {
    height: 6vh;
    width: 9%;
  }
}

.Btn_libropss{
  border: none;
  width: 15%;
  font-size: 120%;
  background-color: #004AAD;
  color: #ffffff;
  height: 4.6vh;
  outline: none;
  border-radius: 10%;
}
@media only screen and (min-width: 1880px) {
  .Btn_libropss{
    height: 4.6vh;
}
}

@media only screen and (max-width: 1430px) {
  .Btn_libropss {
    height: 7vh;
    width: 18%;
  }
}

/* Registro prestamo libros*/

.requisitos{
  font-size: 1.7rem;
  color:#004AAD;
}

.form-control{
  height: 5vh;
  color:#333
}